---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { AstronomyCategorySEO, astronomyCategory } from "@jjlmoya/utils-astronomy";
import { astronomySection } from "../../../data/utilities/astronomy";

const categoryColor = "#4f46e5";
const content = await astronomyCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/astronomia.webp"
    utilities={astronomySection.utilities}
    theme={astronomySection.theme}
    categoryColor={categoryColor}
    section={astronomySection}
>
    <div slot="seo">
        <AstronomyCategorySEO />
    </div>
</LayoutUtilityCategory>
