---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { audiovisualCategorySEO as AudiovisualCategorySEO, audiovisualCategory } from "@jjlmoya/utils-audiovisual";
import { audiovisualSection } from "../../../data/utilities/audiovisual";

const categoryColor = "#8b5cf6";
const content = await audiovisualCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/audiovisual.webp"
    utilities={audiovisualSection.utilities}
    theme={audiovisualSection.theme}
    categoryColor={categoryColor}
    section={audiovisualSection}
>
    <div slot="seo">
        <AudiovisualCategorySEO />
    </div>
</LayoutUtilityCategory>
