---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { babiesCategorySEO as BabiesCategorySEO, babiesCategory } from "@jjlmoya/utils-babies";
import { babiesSection } from "../../../data/utilities/babies";

const categoryColor = "#ec4899";
const content = await babiesCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/bebes-y-embarazo.webp"
    utilities={babiesSection.utilities}
    theme={babiesSection.theme}
    categoryColor={categoryColor}
    section={babiesSection}
>
    <div slot="seo">
        <BabiesCategorySEO />
    </div>
</LayoutUtilityCategory>
