---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { coffeeCategorySEO as CoffeeCategorySEO, coffeeCategory } from "@jjlmoya/utils-coffee";
import { coffeeSection } from "../../../data/utilities/coffee";

const categoryColor = "#92400e";
const content = await coffeeCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/cafe.webp"
    utilities={coffeeSection.utilities}
    theme={coffeeSection.theme}
    categoryColor={categoryColor}
    section={coffeeSection}
>
    <div slot="seo">
        <CoffeeCategorySEO />
    </div>
</LayoutUtilityCategory>
