---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { BikeCategorySEO, bikeCategory } from "@jjlmoya/utils-bike";
import { bikeSection } from "../../../data/utilities/bike";

const categoryColor = "#ef4444";
const content = await bikeCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/ciclismo.webp"
    utilities={bikeSection.utilities}
    theme={bikeSection.theme}
    categoryColor={categoryColor}
    section={bikeSection}
>
    <div slot="seo">
        <BikeCategorySEO />
    </div>
</LayoutUtilityCategory>
