---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { creativeCategorySEO as CreativeCategorySEO, creativeCategory } from "@jjlmoya/utils-creative";
import { creativeSection } from "../../../data/utilities/creative";

const categoryColor = "#ec4899";
const content = await creativeCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/creatividad-ocio.webp"
    utilities={creativeSection.utilities}
    theme={creativeSection.theme}
    categoryColor={categoryColor}
    section={creativeSection}
>
    <div slot="seo">
        <CreativeCategorySEO />
    </div>
</LayoutUtilityCategory>
