---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { sportsCategorySEO as SportsCategorySEO, sportsCategory } from "@jjlmoya/utils-sports";
import { sportsSection } from "../../../data/utilities/sports";

const categoryColor = "#f97316";
const content = await sportsCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/deporte.webp"
    utilities={sportsSection.utilities}
    theme={sportsSection.theme}
    categoryColor={categoryColor}
    section={sportsSection}
>
    <div slot="seo">
        <SportsCategorySEO />
    </div>
</LayoutUtilityCategory>
