---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { developerCategorySEO as DeveloperCategorySEO, developerCategory } from "@jjlmoya/utils-developer";
import { devSection } from "../../../data/utilities/developer";

const categoryColor = "#6366f1";
const content = await developerCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/desarrollo-web.webp"
    utilities={devSection.utilities}
    theme={devSection.theme}
    categoryColor={categoryColor}
    section={devSection}
>
    <div slot="seo">
        <DeveloperCategorySEO />
    </div>
</LayoutUtilityCategory>
