---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { statisticsCategorySEO as StatisticsCategorySEO, statisticsCategory } from "@jjlmoya/utils-statistics";
import { statisticsSection } from "../../../data/utilities/statistics";

const categoryColor = "#4f46e5";
const content = await statisticsCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/estadistica.webp"
    utilities={statisticsSection.utilities}
    theme={statisticsSection.theme}
    categoryColor={categoryColor}
    section={statisticsSection}
>
    <div slot="seo">
        <StatisticsCategorySEO />
    </div>
</LayoutUtilityCategory>
