---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { financeCategorySEO as FinanceCategorySEO, financeCategory } from "@jjlmoya/utils-finance";
import { financeSection } from "../../../data/utilities/finance";

const categoryColor = "#10b981";
const content = await financeCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/finanzas.webp"
    utilities={financeSection.utilities}
    theme={financeSection.theme}
    categoryColor={categoryColor}
    section={financeSection}
>
    <div slot="seo">
        <FinanceCategorySEO />
    </div>
</LayoutUtilityCategory>
