---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { hardwareCategorySEO as HardwareCategorySEO, hardwareCategory } from "@jjlmoya/utils-hardware";
import { hardwareSection } from "../../../data/utilities/hardware";

const categoryColor = "#3b82f6";
const content = await hardwareCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/hardware.webp"
    utilities={hardwareSection.utilities}
    theme={hardwareSection.theme}
    categoryColor={categoryColor}
    section={hardwareSection}
>
    <div slot="seo">
        <HardwareCategorySEO />
    </div>
</LayoutUtilityCategory>
