---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { toolsCategorySEO as ToolsCategorySEO, toolsCategory } from "@jjlmoya/utils-tools";
import { toolsSection } from "../../../data/utilities/tools";

const categoryColor = "#64748b";
const content = await toolsCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/herramientas.webp"
    utilities={toolsSection.utilities}
    theme={toolsSection.theme}
    categoryColor={categoryColor}
    section={toolsSection}
>
    <div slot="seo">
        <ToolsCategorySEO />
    </div>
</LayoutUtilityCategory>
