---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { printing3dCategorySEO as Printing3dCategorySEO, printing3dCategory } from "@jjlmoya/utils-printing3d";
import { printing3dSection } from "../../../data/utilities/printing3d";

const categoryColor = "#0284c7";
const content = await printing3dCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/impresion-3d.webp"
    utilities={printing3dSection.utilities}
    theme={printing3dSection.theme}
    categoryColor={categoryColor}
    section={printing3dSection}
>
    <div slot="seo">
        <Printing3dCategorySEO />
    </div>
</LayoutUtilityCategory>
