---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { PetsCategorySEO, petsCategory } from "@jjlmoya/utils-pets";
import { petsSection } from "../../../data/utilities/pets";

const categoryColor = "#f59e0b";
const content = await petsCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/mascotas.webp"
    utilities={petsSection.utilities}
    theme={petsSection.theme}
    categoryColor={categoryColor}
    section={petsSection}
>
    <div slot="seo">
        <PetsCategorySEO />
    </div>
</LayoutUtilityCategory>
