---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { musicCategorySEO as MusicCategorySEO, musicCategory } from "@jjlmoya/utils-music";
import { musicSection } from "../../../data/utilities/music";

const categoryColor = "#db2777";
const content = await musicCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/musica.webp"
    utilities={musicSection.utilities}
    theme={musicSection.theme}
    categoryColor={categoryColor}
    section={musicSection}
>
    <div slot="seo">
        <MusicCategorySEO />
    </div>
</LayoutUtilityCategory>
