---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { natureCategorySEO as NatureCategorySEO, natureCategory } from "@jjlmoya/utils-nature";
import { natureSection } from "../../../data/utilities/nature";

const categoryColor = "#10b981";
const content = await natureCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/naturaleza.webp"
    utilities={natureSection.utilities}
    theme={natureSection.theme}
    categoryColor={categoryColor}
    section={natureSection}
>
    <div slot="seo">
        <NatureCategorySEO />
    </div>
</LayoutUtilityCategory>
