---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { healthCategorySEO as HealthCategorySEO, healthCategory } from "@jjlmoya/utils-health";
import { healthSection } from "../../../data/utilities/health";

const categoryColor = "#06b6d4";
const content = await healthCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/salud.webp"
    utilities={healthSection.utilities}
    theme={healthSection.theme}
    categoryColor={categoryColor}
    section={healthSection}
>
    <div slot="seo">
        <HealthCategorySEO />
    </div>
</LayoutUtilityCategory>
