---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { workCategorySEO as WorkCategorySEO, workCategory } from "@jjlmoya/utils-work";
import { workSection } from "../../../data/utilities/work";

const categoryColor = "#3b82f6";
const content = await workCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/trabajo.webp"
    utilities={workSection.utilities}
    theme={workSection.theme}
    categoryColor={categoryColor}
    section={workSection}
>
    <div slot="seo">
        <WorkCategorySEO />
    </div>
</LayoutUtilityCategory>
