---
export const prerender = true;
import LayoutUtilityCategory from "../../../layouts/LayoutUtilityCategory.astro";
import { NauticalCategorySEO, nauticalCategory } from "@jjlmoya/utils-nautical";
import { nauticalSection } from "../../../data/utilities/nautical";

const categoryColor = "#0ea5e9";
const content = await nauticalCategory.i18n.es!();
---

<LayoutUtilityCategory
    title={content.title}
    description={content.description}
    image="/images/utilities/category/vela-y-nautica.webp"
    utilities={nauticalSection.utilities}
    theme={nauticalSection.theme}
    categoryColor={categoryColor}
    section={nauticalSection}
>
    <div slot="seo">
        <NauticalCategorySEO />
    </div>
</LayoutUtilityCategory>
