---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import ImageConverter from "../../components/utilidades/ImageConverter/ImageConverter.astro";
import JpgToWebpSEO from "../../components/utilidades/jpg-to-webp/JpgToWebpSEO.astro";

export const prerender = true;

const from = "jpg";
const to = "webp";

const title = "Convertir JPG a WebP Online y Gratis - Alta Calidad";
const description =
    "Convierte tus fotos JPG al nuevo estándar WebP de Google. Optimiza tus imágenes para una carga web más fluida y profesional.";

const faqItems = [
    {
        question: "¿Por qué convertir fotos JPG a WebP?",
        answer: "WebP permite comprimir significativamente más los archivos JPG tradicionales sin que el ojo humano note la diferencia, resultando en sitios web más rápidos y modernos.",
    },
    {
        question: "¿Tengo que pagar por imagen?",
        answer: "No, la herramienta es gratis y todo se procesa directamente en tu ordenador. Es ilimitada para uso doméstico o profesional.",
    },
];

const howToSteps = [
    {
        name: "Inserta tus fotografías JPG",
        text: "Pega tus archivos JPG o arrástralos directamente al área superior. La detección es instantánea.",
    },
    {
        name: "Procesado a WebP",
        text: "El motor de renderizado local convertirá cada archivo de imagen a un WebP ultra optimizado listo para la web.",
    },
];
---

<LayoutUtility
    title={title}
    description={description}
    gradientFrom="from-cyan-100"
    gradientTo="to-cyan-200"
    faqItems={faqItems}
    howToSteps={howToSteps}
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="WebP"
            titleBase="JPG a"
            description="Lleva tus fotografías JPG pesadas al nuevo formato de máxima compresión y calidad como es el WebP."
            gradientFrom="from-cyan-500"
            gradientTo="to-cyan-700"
            reverse={true}
        />
    </div>

    <ImageConverter from={from} to={to} />

    <div slot="seo">
        <JpgToWebpSEO />
    </div>
</LayoutUtility>
