---
import { Icon } from "astro-icon/components";
import type { MechanicItem } from "../../../data/mechanics";
import "./MechanicCard.css";

interface Props {
    mechanic: MechanicItem;
}

const { mechanic } = Astro.props;
---

<a
    href={mechanic.url}
    class="mechanic-card"
    data-tags={mechanic.tags.join(",")}
    data-platforms={mechanic.platforms}
>
    <div class="mcard-body">
        <div class="mcard-header">
            <div class="mcard-iconbox">
                <Icon name={mechanic.icon} class="mcard-icon" />
            </div>
            <h3 class="mcard-title">
                {mechanic.title}
            </h3>
        </div>
        <p class="mcard-desc">
            {mechanic.description}
        </p>
        <div class="mcard-tags">
            {
                mechanic.tags
                    .slice(0, 3)
                    .map((tag) => (
                        <span class="mcard-tag">
                            {tag}
                        </span>
                    ))
            }
        </div>
        <div class="mcard-action">
            <Icon name="mdi:play-circle-outline" class="mcard-action-icon" />
            <span>demo interactiva</span>
        </div>
    </div>
    <div class="mcard-overlay-glow"></div>
</a>
