---
import NuanceSlide from "./NuanceSlide.astro";

interface Props {
    id: string;
    labelLeft: string;
    labelRight: string;
    badge: string;
    title: string;
    desc: string;
    leftTitle: string;
    leftDesc: string;
    rightTitle: string;
    rightDesc: string;
}

const {
    id,
    labelLeft,
    labelRight,
    badge,
    title,
    desc,
    leftTitle,
    leftDesc,
    rightTitle,
    rightDesc,
} = Astro.props;
---

<NuanceSlide id={id} labelLeft={labelLeft} labelRight={labelRight}>
    <div slot="center" class="nslide-center">
        <span class="nslide-badge">{badge}</span>
        <h2 class="nslide-title">{title}</h2>
        <p class="nslide-desc">{desc}</p>
    </div>
    <div slot="left">
        <h2 class="nslide-left-title" set:html={leftTitle} />
        <p class="nslide-left-desc">{leftDesc}</p>
    </div>
    <div slot="right">
        <h2 class="nslide-right-title" set:html={rightTitle} />
        <p class="nslide-right-desc">{rightDesc}</p>
    </div>
</NuanceSlide>
